
/** Obrázky **/
.WelcomePicture{ 
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 20%;
  border-radius: 20px;
  box-shadow: var(--box-shadow);
  transition: transform 1.5s;

} 

.WelcomePicture:hover{ 
  transform: scale(1.1);
} 
/*text*/ 
.WelcomeText{ 
  text-align: justify;
  width: 50%;
} 

/************************ 
    Komponenta Pets
*********************/

.PetsContainer{ 
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
 
} 

/* **************************************
        Komponenta PetsInfo
***************************************/
.PetsInfoSection{ 
  display: flex;
  flex-direction: column;
  align-items: center;
 
} 


