:root{ 
  --backgroud-Color: #3f8506; ;
  --text-Color: #e6b224;
   --Conteiner-color: #0f7020; 
  --box-shadow: 0 0 5px 10px rgba(224, 228, 20, 0.699);
  --card-color: rgba(225, 228, 20, 0.418);
  --active-button: rgba(39, 202, 39, 0.548); 
  --yellow-color: #e1e41a;
}
* { 
  padding: 0;
  margin: 0; 
  box-sizing: border-box;
} 

/* Místo Body */
#root{ 
  display: flex;
  justify-content: center;
  font-family: Roboto, Arial, "Helvetica Neue", Helvetica, sans-serif;
  background-color: var(--backgroud-Color);
  color: var(--text-Color);
} 

/************************ 
      Tlačítko
*********************/

.button{ 
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: var(--Conteiner-color);
    color: var(--text-Color);
    cursor: pointer;
    transition:  0.5s;
    margin-bottom: 1rem;
} 
.button.active{ 
    background-color: var(--active-button);
}

