/* CatImageFinder.css */
.catImageFinder {
   
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    font-family: sans-serif;
}

.catImageFinder h1 {
    margin-bottom: 20px;
}

.catImageFinder form {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    width: 300px; /* Nastavte šířku formuláře */
}

.catImageFinder label {
    margin-bottom: 8px;
}

.catImageFinder input {
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
/** Tlačítko **/
.button{ 
 padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: var(--card-color);
    color: var(--text-Color);
    cursor: pointer;
    transition:  0.5s;
}     

.button:hover {
    background-color: var(--backgroud-Color);
}
/*****/

.catImageFinder .error {
    color: red;
    margin-top: 10px;
}

.catImageFinder .imageContainer {
    margin-top: 20px;
    text-align: center;
}

.catImage {
    max-width: 20rem;
    margin-top: 1rem;
    height: auto;
    border-radius: 8px;
    box-shadow: var(--box-shadow);

}