
.catBreedList {    
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
   width: 30rem;
    height: auto;
}

.catBreedList h1 {
    margin-bottom: 20px;
    text-align: center;
}
/** ul **/
 .breeds {
    margin-top: 2rem;
    width: 25rem;
    gap: 1rem;    
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  
    list-style: none;
    text-align: center;
    padding: 0;
}
/** li **/
.catBreedList .breed-item {
  
    margin-bottom: 20px;
    padding: 15px;    
    border-radius: 8px;
    background-color: var(--backgroud-Color)
} 

/**p **/
.intro{ 
    width: 20rem;
    text-align: center;
}

.catBreedList .breed-item h3 {
    margin-top: 0;
    margin-bottom: 10px;    
}

.catBreedList .breed-item p {
    margin-bottom: 8px;
    
    
}

.catBreedList .breed-item code {
    background-color: var(--Conteiner-color);
    padding: 2px 5px;
    border-radius: 4px;
    
}

.catBreedList .error {
    color: red;
    margin-top: 10px;
} 

.toggleButton{ 
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: var(--card-color);
    color: var(--text-Color);
    cursor: pointer;
    transition:  0.5s;
} 

.toggleButton:hover {
    background-color: var(--backgroud-Color);
}