:root{ 
  --Conteiner-color: #0f7020; 
  --box-shadow: 0 0 5px 10px rgba(224, 228, 20, 0.699);
  --card-color: rgba(225, 228, 20, 0.418);
  --active-button: rgba(39, 202, 39, 0.548);
 
}


.MainContainer{ 
  display: flex; 
  align-items: center;  
  flex-direction: column;
  gap: 2rem;
  width: 90%;
  min-height: 100vh;
  min-height: 100dvh;
  background-color: var(--Conteiner-color);
  h1{ 
    margin-top: 1rem;
  }

} 

h2{ 
  margin-top: 1rem;
}
/** Obrázky **/
.WelcomePicture{ 
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 20%;
  border-radius: 20px;
  box-shadow: var(--box-shadow);
  transition: transform 1.5s;

} 

.WelcomePicture:hover{ 
  transform: scale(1.1);
} 
/*text*/ 
.WelcomeText{ 
  text-align: justify;
  width: 50%;
} 

/************************ 
    Komponenta Pets
*********************/

.PetsContainer{ 
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
 
} 

/* **************************************
        Komponenta PetsInfo
***************************************/
.PetsInfoSection{ 
  display: flex;
  flex-direction: column;
  align-items: center;
 
} 

.ApiSection{ 
  width: 100%;
  display: flex; 
  justify-content: center;
} 

/************************ 
      Tlačítko
*********************/

.button{ 
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: var(--Conteiner-color);
    color: var(--text-Color);
    cursor: pointer;
    transition:  0.5s;
} 
.button.active{ 
    background-color: var(--active-button);
}